*{
    font-family: roboto;
    font-size: medium;
    margin: 25;
    padding: 25;
    display:flex;
    flex-direction: column;
    text-align: center;
}

.h1{
    width: 80%;
    margin: 50px;
}

.form{
    width: 80%;
}

#case{
    background-color: rgb(155, 25, 195);
    padding: 25px;
    justify-content: center;
}