body {
    background-color: #ffffff;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    margin-left: 10px;
  }
  
  body div {
    width: 90%;
    background-color: #4bd03f;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 10px;
  }
  
body{
    display: flex;
  justify-content: center;
}

  /* style pour le formulaire */
  form {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  #button {
    border-radius: 10px;
    background-color: #4876b7;
    transition: 0.5s;
  }
  
  #button:hover {
    background-color: #de2626;
    border-color: #ffffff;
  }