*{
    font-family: roboto;
    font-size: medium;
    margin: 25;
    padding: 25;
    display:flex;
    flex-direction: column;
    text-align: center;
}

body{
    background-color: rgb(226, 165, 43);}

h1{
    width: 80%;
    margin: 50px;
}

.input {
    margin-top: 20px;
}

.form{
    width: 80%;
    text-align: center ;
}

.input{
    background-color: red;
}

#case{
    background-color: rgb(58, 218, 80);
    padding: 25px;
    justify-content: center;
    text-align: center;
}
body{
    display: flex;
  justify-content: center;
}
